# Quartus II generated databases and folders
db/
incremental_db/
output_files/
simulation/
greybox_tmp/
hc_output/
hps_isw_handoff/

# Quartus II temporary/backup files
*.bak
*.temp
*.tmp
*~

# Quartus II compilation outputs and logs
*.rpt
*.summary
*.done
*.smsg
*.jdi
*.pin
*.qws
*.ddb
*.esf
*.vga
*.vgc
*.sof
*.pof

# System/IDE files
.qsys_edit/
